
body {
  font-family: 'Charmonman',
  cursive;
  color: #333;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainOrange;
}
